<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HideApp" value="true" />
		<add key="COMPort" value="COM4" />
		<add key="BaudRate" value="9600" />
		<add key="DataBit" value="8" />
		<add key="Parity" value="None" />
		<add key="StopBits" value="1" />
		<add key="WarningVisible" value="true" />	<!--true , false-->
		<add key="FileType" value="excel" />		<!--excel , xml-->
		<add key="AddTime" value="false" />			<!--true , false-->
		<add key="RowCount" value="5" />			<!--true , false-->
		<add key="Path" value="D:\OTM AirGauge DATA\Gauge1\" />				<!--Chose the path for save data-->
		<add key="EndLineCharacter1" value="&#0;" />						<!--ASCII 00-->
		<add key="EndLineCharacter2" value="&#3;" />						<!--ASCII 03-->
		<add key="EndLineCharacter3" value="&#10;" />						<!--ASCII 0A-->
	</appSettings>
</configuration>